<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>ControlStp</servlet-name>
        <servlet-class>controlador.ControlStp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RolesCtrol</servlet-name>
        <servlet-class>controlador.RolesCtrol</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControlOrganizacionRed</servlet-name>
        <servlet-class>controlador.ControlOrganizacionRed</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControlModernizacionLlanos</servlet-name>
        <servlet-class>controlador.ControlModernizacionLlanos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControlModernizacionGirardot</servlet-name>
        <servlet-class>controlador.ControlModernizacionGirardot</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControlDemolicionBase</servlet-name>
        <servlet-class>controlador.ControlDemolicionBase</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControlConstruccionBase</servlet-name>
        <servlet-class>controlador.ControlConstruccionBase</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControlCanalizacion</servlet-name>
        <servlet-class>controlador.ControlCanalizacion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControlBaseArmario</servlet-name>
        <servlet-class>controlador.ControlBaseArmario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControlAcometidasElectricas</servlet-name>
        <servlet-class>controlador.ControlAcometidasElectricas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistroCtrol</servlet-name>
        <servlet-class>controlador.RegistroCtrol</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControlRegistro</servlet-name>
        <servlet-class>controlador.ControlRegistro</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControlProyecto</servlet-name>
        <servlet-class>controlador.ControlProyecto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UsuariosrolCtrol</servlet-name>
        <servlet-class>controlador.UsuariosrolCtrol</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Controlador</servlet-name>
        <servlet-class>controlador.Controlador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControlModernizacionLlanos2</servlet-name>
        <servlet-class>controlador.ControlModernizacionLlanos2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControlArmarios</servlet-name>
        <servlet-class>controlador.ControlArmarios</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControlRegionales</servlet-name>
        <servlet-class>controlador.ControlRegionales</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControlOrganizacionRedFttc</servlet-name>
        <servlet-class>controlador.ControlOrganizacionRedFttc</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControlRegionalesBase</servlet-name>
        <servlet-class>controlador.ControlRegionalesBase</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControlBogota</servlet-name>
        <servlet-class>controlador.ControlBogota</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControlMantenimientoCanalizacionBogota</servlet-name>
        <servlet-class>controlador.ControlMantenimientoCanalizacionBogota</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControlMicromotores</servlet-name>
        <servlet-class>controlador.ControlMicromotores</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControlPosteria</servlet-name>
        <servlet-class>controlador.ControlPosteria</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControlRedesInternasRegionales</servlet-name>
        <servlet-class>controlador.ControlRedesInternasRegionales</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControlRiesgoElectrico</servlet-name>
        <servlet-class>controlador.ControlRiesgoElectrico</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControlRegistrosRcFibraOptica</servlet-name>
        <servlet-class>controlador.ControlRegistrosRcFibraOptica</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControlRenovacionArmariosFttc</servlet-name>
        <servlet-class>controlador.ControlRenovacionArmariosFttc</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Controlador2</servlet-name>
        <servlet-class>controlador.Controlador2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControlCrearAcometidasElectricas</servlet-name>
        <servlet-class>controlador.ControlCrearAcometidasElectricas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControlCrearArmarios</servlet-name>
        <servlet-class>controlador.ControlCrearArmarios</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControlCrearBaseDeArmario</servlet-name>
        <servlet-class>controlador.ControlCrearBaseDeArmario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControlCrearBogota</servlet-name>
        <servlet-class>controlador.ControlCrearBogota</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControlCrearCanalizacion</servlet-name>
        <servlet-class>controlador.ControlCrearCanalizacion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControlCrearConstruccionBase</servlet-name>
        <servlet-class>controlador.ControlCrearConstruccionBase</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControlCrearDemolicionBase</servlet-name>
        <servlet-class>controlador.ControlCrearDemolicionBase</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControlCrearMantenimientoCanalizacionBogota</servlet-name>
        <servlet-class>controlador.ControlCrearMantenimientoCanalizacionBogota</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControlCrearMicromotores</servlet-name>
        <servlet-class>controlador.ControlCrearMicromotores</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControlCrearModernizacionGirardot</servlet-name>
        <servlet-class>controlador.ControlCrearModernizacionGirardot</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControlCrearModernizacionLlanos</servlet-name>
        <servlet-class>controlador.ControlCrearModernizacionLlanos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControlCrearModernizacionLlanos2</servlet-name>
        <servlet-class>controlador.ControlCrearModernizacionLlanos2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControlCrearOrganizacionRed</servlet-name>
        <servlet-class>controlador.ControlCrearOrganizacionRed</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControlCrearPosteria</servlet-name>
        <servlet-class>controlador.ControlCrearPosteria</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControlCrearProyecto</servlet-name>
        <servlet-class>controlador.ControlCrearProyecto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControlCrearRedesInternasRegionales</servlet-name>
        <servlet-class>controlador.ControlCrearRedesInternasRegionales</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControlCrearRegionales</servlet-name>
        <servlet-class>controlador.ControlCrearRegionales</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControlCrearRegionalesBase</servlet-name>
        <servlet-class>controlador.ControlCrearRegionalesBase</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControlCrearRegistrosRcFibraOptica</servlet-name>
        <servlet-class>controlador.ControlCrearRegistrosRcFibraOptica</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControlCrearRenovacionArmariosFttc</servlet-name>
        <servlet-class>controlador.ControlCrearRenovacionArmariosFttc</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControlCrearOrganizacionRedFttc</servlet-name>
        <servlet-class>controlador.ControlCrearOrganizacionRedFttc</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControlCrearRiesgoElectrico</servlet-name>
        <servlet-class>controlador.ControlCrearRiesgoElectrico</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControlCrearStp</servlet-name>
        <servlet-class>controlador.ControlCrearStp</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ControlStp</servlet-name>
        <url-pattern>/ControlStp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RolesCtrol</servlet-name>
        <url-pattern>/RolesCtrol</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControlOrganizacionRed</servlet-name>
        <url-pattern>/ControlOrganizacionRed</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControlModernizacionLlanos</servlet-name>
        <url-pattern>/ControlModernizacionLlanos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControlModernizacionGirardot</servlet-name>
        <url-pattern>/ControlModernizacionGirardot</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControlDemolicionBase</servlet-name>
        <url-pattern>/ControlDemolicionBase</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControlConstruccionBase</servlet-name>
        <url-pattern>/ControlConstruccionBase</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControlCanalizacion</servlet-name>
        <url-pattern>/ControlCanalizacion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControlBaseArmario</servlet-name>
        <url-pattern>/ControlBaseArmario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControlAcometidasElectricas</servlet-name>
        <url-pattern>/ControlAcometidasElectricas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistroCtrol</servlet-name>
        <url-pattern>/RegistroCtrol</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControlRegistro</servlet-name>
        <url-pattern>/ControlRegistro</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControlProyecto</servlet-name>
        <url-pattern>/ControlProyecto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UsuariosrolCtrol</servlet-name>
        <url-pattern>/UsuariosrolCtrol</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Controlador</servlet-name>
        <url-pattern>/Controlador</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControlModernizacionLlanos2</servlet-name>
        <url-pattern>/ControlModernizacionLlanos2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControlArmarios</servlet-name>
        <url-pattern>/ControlArmarios</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControlRegionales</servlet-name>
        <url-pattern>/ControlRegionales</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControlOrganizacionRedFttc</servlet-name>
        <url-pattern>/ControlOrganizacionRedFttc</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControlRegionalesBase</servlet-name>
        <url-pattern>/ControlRegionalesBase</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControlBogota</servlet-name>
        <url-pattern>/ControlBogota</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControlMantenimientoCanalizacionBogota</servlet-name>
        <url-pattern>/ControlMantenimientoCanalizacionBogota</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControlMicromotores</servlet-name>
        <url-pattern>/ControlMicromotores</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControlPosteria</servlet-name>
        <url-pattern>/ControlPosteria</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControlRedesInternasRegionales</servlet-name>
        <url-pattern>/ControlRedesInternasRegionales</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControlRiesgoElectrico</servlet-name>
        <url-pattern>/ControlRiesgoElectrico</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControlRegistrosRcFibraOptica</servlet-name>
        <url-pattern>/ControlRegistrosRcFibraOptica</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControlRenovacionArmariosFttc</servlet-name>
        <url-pattern>/ControlRenovacionArmariosFttc</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Controlador2</servlet-name>
        <url-pattern>/Controlador2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControlCrearAcometidasElectricas</servlet-name>
        <url-pattern>/ControlCrearAcometidasElectricas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControlCrearArmarios</servlet-name>
        <url-pattern>/ControlCrearArmarios</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControlCrearBaseDeArmario</servlet-name>
        <url-pattern>/ControlCrearBaseDeArmario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControlCrearBogota</servlet-name>
        <url-pattern>/ControlCrearBogota</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControlCrearCanalizacion</servlet-name>
        <url-pattern>/ControlCrearCanalizacion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControlCrearConstruccionBase</servlet-name>
        <url-pattern>/ControlCrearConstruccionBase</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControlCrearDemolicionBase</servlet-name>
        <url-pattern>/ControlCrearDemolicionBase</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControlCrearMantenimientoCanalizacionBogota</servlet-name>
        <url-pattern>/ControlCrearMantenimientoCanalizacionBogota</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControlCrearMicromotores</servlet-name>
        <url-pattern>/ControlCrearMicromotores</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControlCrearModernizacionGirardot</servlet-name>
        <url-pattern>/ControlCrearModernizacionGirardot</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControlCrearModernizacionLlanos</servlet-name>
        <url-pattern>/ControlCrearModernizacionLlanos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControlCrearModernizacionLlanos2</servlet-name>
        <url-pattern>/ControlCrearModernizacionLlanos2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControlCrearOrganizacionRed</servlet-name>
        <url-pattern>/ControlCrearOrganizacionRed</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControlCrearPosteria</servlet-name>
        <url-pattern>/ControlCrearPosteria</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControlCrearProyecto</servlet-name>
        <url-pattern>/ControlCrearProyecto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControlCrearRedesInternasRegionales</servlet-name>
        <url-pattern>/ControlCrearRedesInternasRegionales</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControlCrearRegionales</servlet-name>
        <url-pattern>/ControlCrearRegionales</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControlCrearRegionalesBase</servlet-name>
        <url-pattern>/ControlCrearRegionalesBase</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControlCrearRegistrosRcFibraOptica</servlet-name>
        <url-pattern>/ControlCrearRegistrosRcFibraOptica</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControlCrearRenovacionArmariosFttc</servlet-name>
        <url-pattern>/ControlCrearRenovacionArmariosFttc</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControlCrearOrganizacionRedFttc</servlet-name>
        <url-pattern>/ControlCrearOrganizacionRedFttc</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControlCrearRiesgoElectrico</servlet-name>
        <url-pattern>/ControlCrearRiesgoElectrico</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControlCrearStp</servlet-name>
        <url-pattern>/ControlCrearStp</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <error-page>
        <error-code>400</error-code>
        <location>/page400.jsp</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/page500.jsp</location>
    </error-page>
    <error-page>
        <error-code>404</error-code>
        <location>/page404.jsp</location>
    </error-page>
    <error-page>
        <exception-type>java.lang.nullpointerexception</exception-type>
        <location>/page500.jsp</location>
    </error-page>
    <error-page>
        <exception-type>java.sql.sqlexception</exception-type>
        <location>/page500.jsp</location>
    </error-page>
</web-app>
